body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-tile {
  height: 300px;
  width:  300px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-tile h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-tile p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-tile .card-tile-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-tile-infos .card-tile-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
